<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="slede">
  <material name="blue">
    <color rgba="0 0 0.8 0.5"/>
  </material>


  <xacro:macro name="sw_mesh_import" params="filename">
    <mesh filename="package://robo_inspecto_launch/meshes/${filename}.STL" scale="0.001 0.001 0.001"/>
  </xacro:macro>

  <xacro:macro name="sw_visual_import" params="filename length width height">
    <visual>
      <origin rpy="${pi/2} 0 ${pi/2}" xyz="${-(length/2)} ${-(width/2)} ${-(height/2)}"  />
      <geometry>
        <xacro:sw_mesh_import filename="${filename}"/>
      </geometry>
    </visual>
  </xacro:macro>




  <xacro:property name="plate_width" value="0.3" />
  <xacro:property name="plate_thickness" value="0.015" />
  <link name="base_plate_link">
    <xacro:sw_visual_import filename="slede" length="${plate_width}" width="${plate_width}" height="${plate_thickness}"/>
    <collision>
      <geometry>
        <box size="${plate_width} ${plate_width} ${plate_thickness}" />
      </geometry>
    </collision>
  </link>

  <xacro:property name="bearing_width" value="0.065" />
  <xacro:property name="bearing_height" value="0.060" />
  <xacro:property name="bearing_thickness" value="0.047" />
  <link name="bearing">
    <xacro:sw_visual_import filename="lager" length="${bearing_width}" width="${bearing_height}" height="${bearing_thickness}"/>
    <collision>
      <geometry>
        <box size="${bearing_width} ${bearing_height} ${bearing_thickness}" />
      </geometry>
    </collision>
  </link>
  
  <link name="base_link">
  </link>

  <joint name="base_to_base_plate" type="fixed">
    <parent link="base_link"/>
    <child link="base_plate_link"/>
  </joint>

  <joint name="base_plate_to_bearing" type="fixed">
    <parent link="base_plate_link"/>
    <child link="bearing"/>
    <origin rpy="${pi} 0 0" xyz="0 0 0"/>
  </joint>


</robot>